<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="video-thumbnail">
    <a class="embed-responsive embed-responsive-16by9" href="{{href}}" target="_blank" title="{{title}}" {{#if embed}}data-embed="{{embed}}"{{/if}}>
      <img class="embed-responsive-item" src="{{thumbnail}}" alt="{{title}} video thumbnail">
      <div class="overlay embed-responsive-item" style="display: position: absolute; width: 100%; height: 100%;;"><span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="margin: auto;right: 0;width: 50px;height: 50px;left: 0;top: 0;bottom: 0;position: absolute;font-size: 50px;"></span></div>
    </a>
    <div class="caption" style="overflow:auto; box-sizing:content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;">
      {{#if featured}}<span class="pull-left label label-default" style="margin-right: 4px;">Featured</span>{{/if}}
      {{#if recent}}<span class="pull-left label label-default">New</span>{{/if}}
      {{#if date}}<span class="pull-right">{{date}}</span>{{/if}}
      <h3 style="margin-bottom: 4px; font-size: 15px;">{{title}}</h3>
      {{#if description}}<div style="font-size: 13px; margin-top: 12px">{{{description}}}</div>{{/if}}
    </div>
  </div>
</div>